# Git
.git
.github
.gitignore

# IDE
.vscode
.idea
*.swp

# Python Caches
__pycache__/
*.py[codz]
*.so

# Environments
.venv/
venv/
env/

# [KRİTİK]: Model ve Test Çöpleri
model-cache/
models/
huggingface/
.cache/
*.mp4
*.png
*.jpg
*.wav

# Env
.env