# 1. Image & ML Stack
torch==2.5.1
torchvision
diffusers>=0.30.0
transformers>=4.44.0
accelerate>=0.29.0
ftfy
scipy

# 2. Sentiric Protobuf/gRPC Standartları
protobuf>=7.34.0,<8.0.0
grpcio>=1.62.0
sentiric-contracts-py @ git+https://github.com/sentiric/sentiric-contracts.git@v1.25.0

# 3. Web & Infra
fastapi==0.104.1
uvicorn[standard]==0.24.0
pydantic>=2.6.0
structlog==24.4.0
boto3>=1.34.0
aio-pika>=9.4.0
python-json-logger>=2.0.7